
.statistics{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    align-items: stretch;
    margin-bottom: 30px;
}

.title{
    color: black;
    text-transform: uppercase;
    padding: 20px 40px;
}
.statList{
    display: flex;
    flex-grow: 1;
}

.item{
    color: white;
    padding: 20px;
    flex-grow: 1;    
}

.label{
    font-size: 20px;
}

.percentage{
    font-size: 36px;
}